---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap.min";
@import "flexslider";


h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Open Sans', Arial, sans-serif;
}

.flexslider {
    max-width: 1200px;
    margin: -1px auto;
}

.navbar {
    margin-bottom: 0;
    padding: 10px 0;
    background-color: #fff;
    border-left: none;
    border-right: none;
    border-top: none;
}

.navbar-default {
    border-left: none;
    border-right: none;
    border-top: none;
}

.navbar-nav {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px;
    color: #666;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active
 {
    color: #000;
}

.nav>li>a#contact-button, .btn-events, .btn-submit {
    background-color: #93277b;
    border-radius: 4px;
    padding: 10px 37px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}

.btn-events {
    padding: 10px 15px;
    background-color: #3181BC;
    color: #fff;
}

.nav>li>a#contact-button:hover,
.nav>li>a#contact-button:active,
.nav>li>a#contact-button:focus,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus
{
    background-color: #7b1b66;
    color: #fff;
}

.btn-events:hover,
.btn-events:active,
.btn-events:focus {
    background-color: #5A9AC9;
    color: #fff;
}

.btn-submit {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: transparent;
}
.navbar-brand {
    padding: 0;
    margin-top: 5px;
}

.navbar-brand img {
    width: 80%;
    padding-left: 15px;
}

.navbar-toggle {
    border: 1px solid #333;
    margin-top: 10px;
}

.icon-bar {
    background-color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.tagline h3 {
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    padding: 20px;
}

.spotlight {
    background-color: #93277b;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    color: #fff;
    text-align: center;
}

.spotlight a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.spotlight a:hover, 
.spotlight a:focus,
.spotlight a:active {
    text-decoration: none;
}

.spotlight img {
    width: 50%;
}

.new-event {
    margin-bottom: 15px;
}

#upcoming-events {
    background-color: #efefef;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

#eventsTitle {
    text-align: center;
    margin-bottom: 30px;
}

.event-border {
    float: left;
    padding: 0 15px;
}

.event-info {
    background-color: #fff;
    min-height: 222px;
    padding: 15px;
    margin-bottom: 15px;
}

.event-info a {
    color: #93277b;

}

.event-info a:hover,
.event-info a:focus,
.event-info a:active {
    text-decoration: underline;
}

.footer {
    border-top: 1px solid #ccc;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer p {
    padding-top: 15px;
}

.bottom-footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-footer p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}


.upper-nav {
    padding: 5px 15px 6px 15px;
   top:0;
   right: 0;
   z-index: 9998;
    background-color: #efefef;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
}

.upper-nav-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.upper-nav img {
    padding: 5px;
    border: 1px solid #666;
    border-radius: 100%;
    overflow: auto;
    width: 25px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.upper-nav img:hover,
.upper-nav img:active,
.upper-nav img:focus {
    background-color: #ddd;
}

/*ABOUT*/

.hero-img {
    max-width: 1200px;
    margin: -1px auto;
}

.hero-img img {
    width: 100%;
}

.hero-text {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.tagline p {
    text-align: center;
}

.nav-pills {
    margin-top: 40px;
}

.nav-justified>li>a {
    padding: 25px 15px;
    background-color: #83B3D7;
    color: #fff;
    margin-right: 2px
}

.nav-pills p {
    margin: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #5A9AC9;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #3181BC;
}

.tab-content img {
    width: 100%;
}

.tab-info {
    margin: 15px 0;
}

.tab-info-wrapper {
    padding: 0;
}

.tab-info h3 {
    margin-top: 0;
}

.tab-info-wrapper h1, .tab-info-wrapper p.mainp{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*Product Pipeline*/

h1.ppline {
    margin-top: -170px;
    margin-bottom: 150px;
}

.header-label {
    display: inline-block;
}


.ppline-content img {
    width: 100%;
}

.ppline-header h1 {
    margin-top: 0;
}

#discovery {
    width: 26%;
    text-align: center;
}

#discovery h4 {
    padding-left: 20px;
}

#development {
    width: 21%;
    text-align: center;
}

#phase1 {
    width: 16%;
    text-align: center;
}
#phase2 {
    width: 16%;
    text-align: center;
}
#phase3 {
    width: 16%;
    text-align: center;
}

.ppline-content {
    margin-top: 20px;
}

.ppline-content h1 {
    margin-top: 0;
}

#evade-img {
    max-width: 350px;
}

.ppline-tab-info img {
  width: 100%;
}

.tech-wrapper {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.prod-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.prod-wrapper h3, .prod-wrapper p {
    text-align: left;
}

.prod-wrapper img {
    width: 100%;
    max-width: 350px;
    display: inline-block;
}

.prod-wrapper ul li {
    text-align: left;
}

/* Blog */

.blog-articles {
    font-family: 'Open Sans', Arial, sans-serif;
}

.blog-article-title {
    font-size: 22px;
    margin-bottom: 0;
}

.blog-article-title a {
    color: #333;
}

.blog-article-info {
    color: #999;
    margin-top: 0;
    margin-bottom: 15px;

}

.blog-article-info a {
    color: #999;
}

.news-title {
    font-size: 28px;
    color: #93277b;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.press-wrapper {
    background-color: #efefef;
    padding: 20px;
}

.press-wrapper h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.press-wrapper a {
    color: #333;
}

.btn-events {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 15px;
    margin-left: 0;
}

.contact-wrapper input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}


.contact-wrapper textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    height: 200px;
}

.contact-wrapper .btn-events {
    margin-top: 10px;
}

.contact-wrapper iframe {
    width: 100%;
    height: 200px;
}

.contact-wrapper a {
    color: #93277b;
}

.contact-wrapper a:hover,
.contact-wrapper a:active,
.contact-wrapper a:focus {
    color: #93277b;
    text-decoration: underline;
}

.madison-info {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}

.dropdown-menu {
    z-index: 9999;
}

.success-text {
    text-align: center;
}
@media (min-width: 768px){

    .navbar {
        padding: 0;
        border-bottom: 1px solid #ccc;
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 0;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 30px 10px;
        font-size: 12px;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-brand img {
        width: 70%;
        margin-top: 10px;
    }

    .tagline h3 {
        font-size: 20px;
    }

    .spotlight {
        text-align: left;
    }

    .spotlight img {
        width: 100%;
    }

    .hero-text {
        margin-top: -18%;
        margin-left: 20%;
        width: 60%;
        color: #fff;
        z-index: 9997;
        font-weight: 300;
        font-size: 45px;
        text-align: center;
        margin-bottom: 100px;
    }

    .upper-nav {
        right: 30px;
    }

    .contact-wrapper iframe {
        height: 570px;
    }

}

@media (min-width: 992px){
    .navbar-default .navbar-nav>li>a {
        padding: 30px 20px;
        font-size: 14px;
    }

    .nav>li>a#contact-button {
        margin-left: 20px;
         padding: 10px 33px;
    }

    .new-event {
        margin-bottom: 0;
    }
    
    .navbar-brand img {
        width: 100%;
        max-width: 192px;
        margin-top: 5px;
    }

    .hero-text {
        margin-top: -190px;
        margin-left: 20%;
        width: 60%;
        color: #fff;
        font-weight: 300;
        font-size: 60px;
        text-align: center;
        margin-bottom: 100px;
    }





}

@media(min-width: 1199px){

}