---
layout: internal
heroTitle: Who is Quintessence Biosciences?
title: About Us
heroImage: /images/about.jpg
permalink: /about-us/
---
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div>
            <p class="editable">Quintessence Biosciences, Inc. is a biopharmaceutical company focused on development of novel protein-based therapeutics. The Company’s products are based on the EVade&trade; Ribonuclease Technology which allows for the engineering of human proteins (ribonucleases) for the treatment of human diseases.
            <br> <br>The EVade&trade; Ribonuclease technology is covered by patents acquired by the Company through an exclusive license with the University of Wisconsin. The Company has advanced lead candidate QBI-139 through a first in human Phase I clinical trial.&nbsp;Second generation products are under development and pre-clinical work is ongoing.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-pills nav-justified">
                {% for tab in site.data.about-tabs %}
                    {% if forloop.first == true %}
                        <li class="active"><a href="#{{tab.id}}" data-toggle="tab"><p class="editable">{{tab.category}}</p></a></li>
                    {% else %}
                        <li><a href="#{{tab.id}}" data-toggle="tab"><p class="editable">{{tab.category}}</p></a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="management">
                    <div class="container-fluid tab-info-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <h1 class="editable">Management</h1>
                            </div>
                        </div>
                        {% for staff in site.data.members %}
                            {% if staff.category == 'Management' %}
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-3 col-md-2 col-md-offset-3">
                                            <img src="{{staff.photoPath}}" class="editable">
                                        </div>
                                        <div class="col-sm-9 col-md-4">
                                            <h3 class="editable" >{{staff.name}}, {{staff.title}}</h3>
                                            <p class="editable">
                                                {{staff.bio}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="bboard">
                    <div class="container-fluid tab-info-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <h1 class="editable">Business Board</h1>
                                <p class="mainp editable">Quintessence Biosciences, Inc. has assembled a Business Board to draw upon their managerial and scientific experience to provide input on the scientific and business direction of Quintessence Biosciences. The business board consists of Dr. Laurits Christensen, Mr. Walter Dewey, Mr. Chris Hornung, Mr. Ralph Kauten (who serves as chairman), Dr. Laura Kiessling (a founder of the Company), Dr. Ronald Raines (a founder of the Company), Mr. Theodore Rolfs, and Mr. David Walsh.</p>
                            </div>
                        </div>
                        {% for staff in site.data.members %}
                            {% if staff.category == 'Business Board' %}
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-3 col-md-2 col-md-offset-3">
                                            <img src="{{staff.photoPath}}" class="editable">
                                        </div>
                                        <div class="col-sm-9 col-md-4">
                                            <h3 class="editable" >{{staff.name}}</h3>
                                            <p class="editable">
                                                {{staff.bio}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="sboard">
                    <div class="container-fluid tab-info-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <h1 class="editable">Science Board</h1>
                                <p class="mainp editable">The Scientific Advisory Board (SAB) includes the company founders, Professors Ronald Raines and Laura Kiessling, as well as two oncologists at the University of Wisconsin Carbone Cancer Center, Doctors Howard Bailey and Paul Sondel. The SAB is chaired by Company President Laura Strong.</p>
                            </div>
                        </div>
                            {% for staff in site.data.members %}
                            {% if staff.category == 'Science Board' %}
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-3 col-md-2 col-md-offset-3">
                                            <img src="{{staff.photoPath}}" class="editable">
                                        </div>
                                        <div class="col-sm-9 col-md-4">
                                            <h3 class="editable" >{{staff.name}}</h3>
                                            <p class="editable">
                                                {{staff.bio}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="careers">
                    <div class="container-fluid tab-info-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <h1 class="editable">Careers</h1>
                                <p class="mainp editable">If you are interested in a career at Quintessence, send a cover letter and resume by email (careers@quintbio.com), mail or fax to the attention: Human Resources. No telephone calls please! All applications are confidential. Quintessence Biosciences is an equal opportunity employer.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <p class="editable"> No current openings.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>