---
layout: internal
heroTitle: Product Pipeline
title: Product Pipeline
heroImage: /images/pipeline.jpg
permalink: /product-pipeline/
---
    <div class="container">
        <div class="row ppline-header">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <div class="header-label editable" id="discovery">
                    <h4>Discovery</h4>
                </div>
                <div class="header-label editable" id="development">
                    <h4>Development</h4>
                </div>
                <div class="header-label editable" id="phase1">
                    <h4>Phase 1</h4>
                </div>
                <div class="header-label editable" id="phase2">
                    <h4>Phase 2</h4>
                </div>
                <div class="header-label editable" id="phase3">
                    <h4>Phase 3</h4>
                </div>
            </div>
        </div>
        <div class="row ppline-content">
            <div class="col-sm-3">
                <h1 class="editable" data-900-id="mbua99">Programs</h1>
            </div>
            <div class="col-sm-9">
                <img src="/images/phase3_full.png" class="editable"> 
            </div>
        </div>
        <div class="row ppline-content">
            <div class="col-sm-3">
                <h4 class="editable">QBI-139: Oncology Lead</h4>
            </div>
            <div class="col-sm-9">
                <img src="/images/phase1_half.png" class="editable">
            </div>
        </div>
        <div class="row ppline-content">
            <div class="col-sm-3">
                <h4 class="editable">'RNA Clearance': Immune/Inflammation</h4>
            </div>
            <div class="col-sm-9">
                <img src="/images/discovery_full.png" class="editable">
            </div>
        </div>
        <div class="row ppline-content">
            <div class="col-sm-3">
                <h4 class="editable">EVade&trade; RNase Payloads</h4>
            </div>
            <div class="col-sm-9">
                <img src="/images/discovery_full.png" class="editable">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-pills nav-justified">
                       {% for tab in site.data.pp-tabs %}
                            {% if forloop.first == true %}
                                <li class="active"><a href="#{{tab.id}}" data-toggle="tab"><p class="editable">{{tab.category}}</p></a></li>
                            {% else %}
                                <li><a href="#{{tab.id}}" data-toggle="tab"><p class="editable">{{tab.category}}</p></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content products-tab">

                    {% for product in site.data.products %}
                        {% if product.id == 'product1' %}
                        <div class="tab-pane active" id="product1">
                            <div class="container-fluid tab-info-wrapper">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-offset-3">
                                        <h1 class="editable">{{product.name}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                            <p class="editable">
                                            {{product.info}}
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if product.id == 'product2' %}
                        <div class="tab-pane" id="product2">
                            <div class="container-fluid tab-info-wrapper">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-offset-3">
                                        <h1 class="editable">{{product.name}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                            <p class="editable">
                                            {{product.info}}
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                         {% if product.id == 'product3' %}
                        <div class="tab-pane" id="product3">
                            <div class="container-fluid tab-info-wrapper">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-offset-3">
                                        <h1 class="editable">{{product.name}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="tab-info clearfix">
                                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                            <img src="{{product.image-path}}"/>
                                            <p class="editable">
                                            {{product.info}}
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>