<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="/images/qb_logo_footer.png" class="900-edit" data-900-id="n0apaa">
                <p class="900-edit" data-900-id="q0c2gf">3300 Commercial Avenue | Madison, Wisconsin 53714 USA | Phone: +1-608.441.2950 | Fax: +1-608.441.2952</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <p class="900-edit" data-900-id="1467cb">
        Copyright Quitessence Biosciences, 2015
    </p>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>

<script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });


</script>
<script src="/js/main.js"></script>


