---
layout: default
---
 <div class="container">
        <div class="blog-wrapper clearfix">
            <div class="row">
                <div class="col-sm-8">
                    {% if page.title != "Quintessence Biosciences News" %}
                        <a href="/news/" class="news-back"> &#60; Back to News</a>
                    {% endif %}
                    <h1 class="news-title">
                       {{page.title}}
                    </h1>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-md-offset-2">
                   {{content}}
                   </div>
                   </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if page.title == "Upcoming Events" %}
                                <a href="/news/" class="btn btn-events">View All News</a>
                            {% else %}
                                <a href="/events/" class="btn btn-events">View All Upcoming Events</a>
                            {% endif %}
                            <div class="press-wrapper">
                                <h3 class="editable">Press Releases</h3>
                                <p class="editable">
                                    <strong>15 June 2012</strong> - <a href="">Quintessence Biosciences Meeting with Partners at 2012 BIO International Convention</a><br><br>
                                    <strong>31 May 2012</strong> - <a href="">Quintessence Biosciences Presents on Phase I trial of Human Ribonuclease Variant, QBI-139, at the American Society of Clinical Oncology Annual Meeting</a><br><br>
                                    <strong>19 April 2012</strong> - <a href="">Quintessence Biosciences Selected for Buzz of BIO at 2012 BIO International Convention</a><br><br>
                                    <strong>12 April 2012 </strong>- <a href="">Quintessence Biosciences Announces Election of Walter Dewey to Board of Directors</a><br><br>
                                    <strong>30 March 2012</strong> - <a href="">Quintessence Biosciences Presents Results for Combination Studies of Clinical Stage Ribonuclease QBI-139 at AACR Meeting</a><br><br>
                                    <strong>15 January 2010</strong> - <a href="">Quintessence Biosciences to Present at Keystone Symposia's RNA Silencing Conference</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


